:root {
    --primary-color: #00B89C;
}

.hero {
    background-image: url(../media/beach.JPG);
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.header {
    margin-top: 100px;
    max-height:180px;
}



.title {
    font-weight: bold;
    color: rgb(255, 137, 68);
}

.subtitle {
    padding-bottom: 3rem;
}

.far {
    padding-left: 4px;
}

.input {
    max-width: 200px;
}

.flight-quote-results {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 25px;
}
.flight-quote-card {
    margin: 25px auto;
}

@media screen and (max-width: 1025px ) {
.header {
    margin-top: 0px;
    padding: 0px;
}

.subtitle {
    padding-bottom: 0;
}
    
.columns {
    display: flex;
    flex-direction: column;
}
    
}